.index-header
  .index-header__contents
    .index-header__contents--logo
      .index-header__contents--logo--title
        = link_to root_path do
          calendar
    .index-header__contents--edit
      %ul
        - if user_signed_in?
          %li#modal_open
            = link_to new_event_path do
              %i.fas.fa-edit
              予定を登録
          %li
            = link_to events_path do
              %i.far.fa-calendar-alt
              予定一覧
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fas.fa-door-closed
              ログアウト
        - else
          %li
            = link_to new_user_session_path do
              %i.fas.fa-door-open
              ログイン